Repository sidataplus/demo-etl-sqlmesh-omop, pull requests merged in 2024-09, with the labels that each got.

#13 Merge Request: Setup pgAdmin 4 for PostgreSQL Management
  .env.example
  docker-compose.yml
Labels: enhancement

#31 🔀 Merge: SQLMesh Scripts for Location Table
  sqlmesh_project/models/location/location.sql
Labels: 📜 SQLMesh Scripts, 📍Location table

#33 🔀 Merge: SQLMesh Scripts for Care_site Table
  sqlmesh_project/models/care_site/care_site.sql
Labels: 📜 SQLMesh Scripts, 🏥 Care site table

#20 🔀 Merge: SQLMesh Scripts for Provider Table
  sqlmesh_project/models/provider/provider.sql
Labels: 📜 SQLMesh Scripts, 🩺 Provider table

#35 🔀 Merge: Update SQLMesh Scripts for Person Table
  sqlmesh_project/models/person/person.sql
Labels: 📜 SQLMesh Scripts, 🧑 Person table

#41 🔀 Merge: SQLMesh Scripts for Visit_occurrence Table
  sqlmesh_project/models/visit_occurrence/int__visit_occurrence.sql
  sqlmesh_project/models/visit_occurrence/stg__visit_occurrence.sql
  sqlmesh_project/models/visit_occurrence/visit_occurrence.sql
Labels: 📜 SQLMesh Scripts, 🗓️ Visit Occurrence table
